$color-white: hsl(0, 0%, 100%);
$color-pale-blue: hsl(243, 100%, 93%);
$color-grayish-blue: hsl(229, 7%, 55%);
$color-dark-blue: hsl(228, 56%, 26%);
$color-very-dark-blue: hsl(229, 57%, 11%);
$color-atribution: hsl(228, 45%, 44%);
$gradient: linear-gradient(to bottom, hsl(6, 100%, 80%), hsl(335, 100%, 65%));